@import url("https://fonts.googleapis.com/css2?family=Sevillana&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FAFAFA;
}

.paga {
  font-family: "Sevillana", cursive;
  font-weight: 500;
  font-style: normal;
}

.pan{
    font-family: cursive;
}

::-webkit-scrollbar{
    width: 7px;
    height: 10px;
}

::-webkit-scrollbar-thumb{
    background: #f50c0c;
}

.hgu{
    font-family: "Sofia", cursive;
}